.card {
    height: 450px; 
    overflow: hidden;
}

.card-image {
    height: 280px; 
    overflow: hidden;
}
/* 
.card-content{
    height: 170px;
    overflow: hidden;

}

.card-action{
    height: 70px;
    overflow: hidden;

} */